body{
	background: url(pictures/backMain.jpg) no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}
.head{
	margin: 0 0 0 40px;
}
.about{
	background: white;
	margin: 20px;
}
a{
	font-size: 20px;
	color: white;
	padding: 40px;
	text-align: center;
}
a:hover{
	color:#0cf089;
    background-color: rgba(27, 26, 28, 0.4);
}
.theory{
	background: white;
	padding: 10px 150px 10px 150px;
    color:#4c505e;
    margin: 0 100px 30px 100px;
    border-radius: 10px;
    border: 3px solid #0cf089;
}
